//For image to be responsive
img {
    max-width: 100%; //if width:100% is used, the image can be scaled up to be larger than its original size. 
                      //A better solution, in many cases, will be to use the max-width property instead.
    height: auto;
}

@media only screen and (min-width: 400px) {
    body { 
        background-image: url('img_flowers.jpg'); 
    }
}
//You can use the media query min-device-width, instead of min-width, which checks the device width, instead of the browser width.
//Then the image will not change when you resize the browser window:



video {
    width: 100%;  //If the width property is set to 100%, the video player will be responsive and scale up and down:
                  //Notice that in the example above, the video player can be scaled up to be larger than its original size.
                  //A better solution, in many cases, will be to use the max-width property instead
    height: auto;
}
